.control-panel{
   position: fixed;
   top: 11rem;
   padding: 2rem 1rem;
   right: 0;
   height: max-content;
   height: 30rem;
   background: red; 
   border-radius:  25px 0 0 25px;
   background: #c1a8f7;
   box-shadow: inset 5px 5px 10px #a08bcd,
               inset -5px -5px 10px #e2c5ff;
   border: 2px solid #c1a8f7;
}
.control-container{
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 4rem;
   width: fit-content;
}
.controls{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
.knob{
   position: relative;
   margin: 11%;
   background: rgb(35, 40, 35);
   background: radial-gradient(rgb(83, 82, 82),rgb(35, 40, 35));
   width: 100px;
   height: 100px;
   border-radius: 50%;
   box-shadow: 0px -10px 10px #757575,
               0px 10px 23px #111,
               inset 0px 5px 6px #979797,
               inset 0px -5px 6px #242424;
}
.knob::before,.knob::after{
   content: "";
   position: absolute;
   border-radius: 50%;
}
.knob::after{
   top: 10px;
   left: 50%;
   transform: translate(-50%);
   height: 10px;
   width: 10px;
   background: #fff;
   box-shadow: 0px 0px 10px pink;
}
.knob::before{
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 110%;
   height: 110%;
   border: 2px solid rgb(35, 40, 35);
   box-shadow: 0px 0px 10px rgb(35, 40, 35),
               inset 0px 0px 10px rgb(35, 40, 35);
}