*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-size: 23px;
    font-weight: 400;
    font-family: "Oswald", sans-serif;
    background: #c1a8f7;
    /* background: linear-gradient(45deg,rgb(81, 123, 202) 10%,rgb(203, 88, 151) 40%,rgb(141, 81, 202) 60%,rgb(141, 81, 202) 70%,rgb(229, 116, 178) 100%); */
}
a{
    text-decoration: none;
}
